<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExecutingAssemblyName" value="AdapterService.Tests" />
    <add key="BaseDirectoryPath" value="C:\iring-tools\Adapter\AdapterService.Tests\"/>
    <add key="ProxyCredentialToken" value="iStDqsyeQ/6aV5WH9h8RWxLCXZRckLTgCxXSRQjV4rh4SLw5heADRzj5HFShzDQIlGyyj+rZB0s/0uHlFir9Fw==" />
    <add key="ProxyHost" value="FRESPROXY" />
    <add key="ProxyPort" value="8080" />
    <add key="DBName" value="dotNetRdf"/>
    <add key="DBserver" value=".\SQLEXPRESS"/>
    <add key="DBUser" value="dotNetRdf"/>
    <add key="DBPassword" value="dotNetRdf"/>
    <add key="EndpointTimeout" value="50000" />
    <add key="GraphBaseUri" value="http://localhost"/>
    <add key="InterfaceService" value="http://localhost/InterfaceService/sparql/"/>
    <add key="InterfaceServicePath" value="..\..\InterfaceService\"/>
    <add key="TargetCredentialToken" value="iStDqsyeQ/6aV5WH9h8RWxLCXZRckLTgCxXSRQjV4rh4SLw5heADRzj5HFShzDQIlGyyj+rZB0s/0uHlFir9Fw==" />
    <add key="TrimData" value="False"/>
    <add key="IgnoreSslErrors" value="True"/>
    <add key="BinaryPath" value=".\Bin\Debug\" />
  </appSettings>
</configuration>
