html, body {
  font: normal 12px verdana;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

a:link {color: black}
a:visited {color: black}
a:hover {color: black}
a:active {color: black}

.x-tree .x-panel-body { 
	background-color: #fff; 
}

.x-tree-node .scope {
  background-image: url(images/cabinet.png);
}

.x-tree-node-collapsed .folder {
  background-image: url(images/folder-close.png);
}

.x-tree-node-expanded .folder {
  background-image: url(images/folder-open.png);
}

.x-tree-node .exchange {
  background-image: url(images/exchange-grid.png);
}

.x-tree-node .application {
  background-image: url(images/application.png);
}

.x-tree-node .graph {
  background-image: url(images/app-grid.png);
}

.x-tree-node .commodity {
  background-image: url(images/class-badge-small.png);
}

.blue-fade {
  background-image: url(images/blue-fade.png);
  background-repeat: repeat-x
}

.sync {
	color: #000000;
}

.add {
	color: #df0000;
}

.change {
	color: #0000df;
}

.delete {
	color: #00df00;
}

.dialog-textbox {
	width: 400px;
	height: 180px;
	border: 0 none;
	overflow: auto
}

.breadcrumb {
	margin: 5px;
	text-decoration: none;
}

.breadcrumb-hover {
  text-decoration: underline;
}

.breadcrumb-img {
	vertical-align: middle;
	padding-bottom: 2px;
}