<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary"/><add key="edit" value=""/><add key="" value="HelloTest"/><add key="HelloTest" value="ddd"/><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="URI"/><add key="name12" value="value12"/></appSettings></configuration>