html, body {
  font: normal 12px verdana;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

a:link {color: black}
a:visited {color: black}
a:hover {color: black}
a:active {color: black}

.x-tree { 
	background-color: #fff; 
}

.x-tree-node .scope {
  background-image: url(../img/cabinet.png);
}

.x-tree-node-collapsed .folder {
  background-image: url(../img/folder-close.png);
}

.x-tree-node-expanded .folder {
  background-image: url(../img/folder-open.png);
}

.x-tree-node .exchange {
  background-image: url(../img/exchange-grid.png);
}

.x-tree-node .application {
  background-image: url(../img/application.png);
}

.x-tree-node .graph {
  background-image: url(../img/app-grid.png);
}

.x-tree-node .commodity {
  background-image: url(../img/class-badge-small.png);
}

.blue-fade {
  background-image: url(../img/blue-fade.png);
  background-repeat: repeat-x;
  -webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}

/* change default property grid */
.x-grid3-row td {
  font-family: tahoma;
}

/* change default tree node */
.x-tree-node {
  font-family: tahoma;
}

.sync {
	color: #000000;
}

.add {
	color: #df0000;
}

.change {
	color: #0000df;
}

.delete {
	color: #00df00;
}

.nav-toolbar {
  border-left: 1px solid #eee;
  border-right: 1px solid #aaa;
  width: 52px;
}

.bc-container {
	background-color: #f8f8f8;
	width: 100%;
	height: 26px;
  overflow: hidden;
  padding-top: 5px;
}

a.breadcrumb {
	margin: 5px 5px 0 5px;
	text-decoration: none;
}

/*a.breadcrumb:hover {
	text-decoration: underline;
}

*/.breadcrumb-img {
	vertical-align: middle;
	padding-bottom: 2px;
}

.class-badge {
	background-color: #ededed;
}

.headerLnkBlack {
  font-family: Calibri, Arial;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.exchangeBanner{
  background-image:url('../img/blue-fade.png');
  background-repeat:repeat-x;
  background-position:left bottom;
  height: 65px;
}

.tabsScope {
  background-image:url('../img/system-file-manager.png') !important;
}
.tabsApplication {
  background-image:url('../img/applications-internet.png') !important;
}
.tabsClass {
  background-image:url('../img/class.png') !important;
}
.tabsMapping {
  background-image:url('../img/16x16/mapping.png') !important;
}

.wizard-config 
{
  font-family:tahoma,arial,helvetica,sans-serif;
  font-size:14px;
  font-style:normal;
  font-weight:normal;
  line-height:normal;
  width:400px; 
  height:28px;
}

.x-fieldset legend {
  padding-top: 0px;
  font-style:normal;
  font-weight:bold;  
  color: Black;
}

.bold-label 
{
   font-weight:bold;  
}


.white-label 
{  
  color:White;  
  float: right;
}

.right
{
  position:absolute;
  right:3px;
}

.fieldset
{
  border: 1px solid #000000;
}