<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Export"/> <!--Import or Export-->
    <add key="DBServer" value=".\SQLEXPRESS"/>
    <add key="DBName" value="InterfaceDb"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="RdfImportFullFilename" value="import.rdf"/>
    <add key="RdfExportFullFilename" value="export.rdf"/>
    <add key="GraphUri" value="http://localhost:54321/AdapterService/12345_000/ABC/Lines"/>
  </appSettings>
</configuration>
