<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SPPID.Staging" value=""/>
    <add key="SPPID.SiteSchema" value=""/>
    <add key="SPPID.PlantSchema" value=""/>
    <add key="SPPID.PlantDictionary" value=""/>
    <add key="SPPID.PIDSchema" value=""/>
    <add key="SPPID.PIDDictionary" value=""/>
  </appSettings>
</configuration>