<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Import"/> <!--Import or Export-->
    <add key="ClearBeforeImport" value="False"/> <!-- Import only -->
    <add key="DBServer" value=".\SQLEXPRESS"/>
    <add key="DBName" value="BentleyFIATECHPIDDb"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="RdfImportFullFilename" value="import.rdf"/>
    <add key="RdfExportFullFilename" value="export.rdf"/>
    <add key="GraphUri" value=""/>
  </appSettings>
</configuration>
