<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Import"/> <!--Import or Export-->
    <add key="ClearBeforeImport" value="True"/> <!-- Import only -->
    <add key="DBServer" value=".\SQLEXPRESS"/>
    <add key="DBName" value="BentleyFiatech2011Db"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="RdfImportFullFilename" value="BENTLEY_PRESSURE_TRANSMITTER.owl"/>
    <add key="RdfExportFullFilename" value="BENTLEY_export.rdf"/>
    <add key="GraphUri" value=""/>
  </appSettings>
</configuration>
