<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="" value="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary"/><add key="" value="ImranTest"/><add key="ImranTest" value="RijwanTest"/><add key="RijwanTest" value="dd"/><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="a"/><add key="iRINGCacheConnStr" value="Data Source={hostname\dbInstance};Initial Catalog={dbName};User ID={userId};Password={password}"/></appSettings></configuration>