<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="" value="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary"/><add key="" value="RelationTest"/><add key="RelationTest" value="RelationTestApp"/><add key="RelationTestApp" value="relation Test aap description."/><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="name1"/><add key="name1" value="value1"/></appSettings></configuration>