<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="" value="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary"/><add key="" value="test"/><add key="test" value="july01"/><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="a"/><add key="a" value="b"/></appSettings></configuration>