<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PW.ProjectName" value="Pilot"/>
    <add key="PW.ProjectType" value="Plant"/>
    <add key="PW.ProjectProperty" value="PROJECT_Project_Number"/>
    <add key="PW.UserName" value="iring"/>
    <add key="PW.Password" value="iring"/>
    <add key="PW.DataSource" value="CHIST95037.becpsn.com:PWISE_SS4_Project14"/>
     
    <add key="PW.DataObjects" value="DTP_ENG2"/>
    <add key="PW.DefaultFolderPath" value="Bechtel Sample Project\Piping\"/>
    <add key="PW.DefaultName" value="iring"/>
    <add key="PW.StorageArea" value="CHIST95039.SS4_PROJECT14.1"/>
    <add key="PW.Environment" value="DTP_ENG2"/>
    <add key="PW.Workflow" value=""/>
    <add key="PW.ReceiveDir" value="c:\temp\"/>
  </appSettings>
</configuration>