<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value=""/>
    <add key="ApplicationName" value=""/>
      
    <add key="PW.ProjectName" value=""/>
    <add key="PW.ProjectType" value=""/>
    <add key="PW.ProjectProperty" value=""/>
    <add key="PW.UserName" value=""/>
    <add key="PW.Password" value=""/>
    <add key="PW.DataSource" value=""/>
    <add key="PW.DataObjects" value=""/>
    <add key="PW.DefaultFolderPath" value=""/>
    <add key="PW.DefaultName" value=""/>
    <add key="PW.StorageArea" value=""/>
    <add key="PW.Environment" value=""/>
    <add key="PW.Workflow" value=""/>
    <add key="PW.ReceiveDir" value=""/>
  </appSettings>
</configuration>