<?xml version="1.0"?>
<!--<configuration>
  <appSettings>
    <add key="PW.ProjectName" value="Pilot"/>
      --><!--<add key="PW.ProjectName" value="Peterborough Geospatial Investigation"/>--><!--
      --><!--<add key="PW.ProjectName" value="BSI200"/>--><!--
      <add key="PW.ProjectType" value="Plant"/>
    <add key="PW.ProjectProperty" value="PROJECT_Project_Number"/>
    <add key="PW.UserName" value="iring"/>
    <add key="PW.Password" value="iring"/>
    <add key="PW.DataSource" value="CHIST95037.becpsn.com:PWISE_SS4_Project14"/>
     
    --><!--<add key="PW.DataObjects" value="DTP_ENG2,Cascading Attributes,Complex,Simple"/>--><!--
      --><!--<add key="PW.DataObjects" value="DTP_ENG2"/>--><!--
      
    <add key="PW.DefaultFolderPath" value="Bechtel Sample Project\Piping\"/> --><!-- This is used while creating new documents--><!--
    <add key="PW.DefaultName" value="iring"/>       --><!-- This is used while creating new documents--><!--
    <add key="PW.StorageArea" value="CHIST95039.SS4_PROJECT14.1"/>      --><!-- This is used while creating new documents--><!--
    <add key="PW.Environment" value="DTP_ENG2"/>      --><!-- This is used while creating new documents--><!--
    <add key="PW.Workflow" value=""/>
    <add key="PW.ReceiveDir" value="c:\temp\"/>
    <add key="format" value=".pdf"/>
    <add key="IncludeContent" value="True"/>    
  </appSettings>
</configuration>-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <appSettings>
        <add key="PW.UserName" value="iring"/>
        <add key="PW.Password" value="iring"/>
        <add key="PW.DataSource" value="CHIST95037.becpsn.com:PWISE_SS4_Project13,CHIST95037.becpsn.com:PWISE_SS4_Project14"/>
        <add key="PW.DefaultFolderPath" value="Bechtel Sample Project\Piping\"/>
        <add key="PW.DefaultName" value="iring"/>
        <add key="PW.StorageArea" value="CHIST95039.SS4_PROJECT14.1"/>
        <add key="PW.Environment" value="DTP_ENG2"/>
        <add key="PW.Workflow" value=""/>
        <add key="PW.ReceiveDir" value="c:\temp\"/>
        <add key="HasContentExpression" value="!string.IsNullOrEmpty(FileName)"/>
        <add key="Format" value="JSON"/>
        <add key="DocumentGUID" value="8bdd1237-7e3f-415b-9e21-ad18b5d64f2b"/>
        <add key="IncludeContent" value="True"/>
        <add key="ApplicationName" value="BSI200_BSI200 - Peterborough Geospatial Investigation_Geospatial"/>
        
        <!--<add key="DefaultFormat" value="JSON"/>-->
    </appSettings>
</configuration>