<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--This should be encrypted!-->
    <!--iRINGAgent-->
    <!--<add key="iRINGAgentConnStr" value="MvYwRwgU+VvSW4CBJFYluOqMoEFVPLMvQ6M98feDBaxyb0/DeAqhjdpht8rdtPeqHr+mXjL6Z16tzq0jo3eRahKpxG31AznWghHk615Kb04a2DWWtC43l0phcIpytzVg" />-->
    <!--iRINGAgentSchedue-->
    <add key="iRINGAgentConnStr" value="MvYwRwgU+VvSW4CBJFYluOqMoEFVPLMvQ6M98feDBaxxpOeLC6XZNL/gr2JqINDav7tgkg4UAKhTpMnsf8aDCfJxLRrKKnCYVzlc/z6v/jH0UQULfEJ15a336iuB5iAv6rzG5U0aezDE8HBSffBjuJ/GGytxM0Rb3PxkwG3vTwc="/>
    <add key="iRINGCacheConnStr" value="Data Source=CHIST91013\MULTAPP;Initial Catalog=iRINGDevCache;User ID=iRINGDevCache;Password=iRINGDevCache" />
    <add key="SecurityConnection" value="Data Source=CHISD91058\MULTAPP;Initial Catalog=iRINGConfig;User ID=iRINGConfig;Password=iRINGConfig"/>
    <add key="AppDataPath" value="D:\Dev\svn\3.0\iRINGTools.Services\App_Data\" /> 
    <add key="TimerInterval" value="200000"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AppKey" value="9PdncO4zQ6a6whTa6Yi0UpiLMX6JgHKD" />
    
    <add key="SiteId" value="4" />
    <add key="PlatformId" value="2" />
    <add key="ProxyCredentialToken" value="Wf/h+PdKgcIhgDh601hJH10woW4/4+P1s6RAspQGcEvLVvboGBML1aYsozcUKSGn" />
    <add key="ProxyHost" value="CHISPROXY.amers.ibechtel.com" />
    <add key="ProxyPort" value="8080" />
  </appSettings>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Dev\svn\branches\agent\iring-tools\iRINGAgentService\iRINGAgentService.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Log Level:
		        0 FATAL
		        1 ERROR
		        2 WARN
		        3 INFO
		        4 DEBUG
		        Messages from lower levels are included.  DEBUG will log everything!
	      -->
    <logger name="iRINGAgentService">
      <level value="DEBUG" />
      <appender-ref ref="LogFile" />
    </logger>
    <logger name="org.iringtools">
      <level value="DEBUG" />
      <appender-ref ref="LogFile" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>