<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--Service Setting Defaults
    <add key="BaseDirectoryPath" value="AppDomain.CurrentDomain.BaseDirectory"/> 
    <add key="XmlPath" value=".\XML\"/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="IgnoreSslErrors" value="True"/>
  -->

  <!--Reference Data Setting Defaults
    <add key="SparqlPath" value=".\SPARQL\"/>
    <add key="PageSize" value="100"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="ExampleRegistryBase" value="http://example.org/data#"/>
    <add key="UseExampleRegistryBase" value="False"/>
    <add key="RegistryCredentialToken" value=""/>-->

  <!--NHibernate Setting Defaults
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="BinaryPath" value=".\Bin\"/>
    <add key="CodePath" value=".\App_Code\"/>-->

  <!--Adapter Setting Defaults
    <add key="InterfaceService" value="http://localhost/Services/InterfaceService/query"/>
    <add key="ReferenceDataServiceUri value="http://localhost/Services/RefDataService"/>
    <add key="DefaultProjectionFormat" value="xml"/>
    <add key="EndpointTimeout value="30000"/>
    <add key="dotNetRDFServer" value=".\SQLEXPRESS"/>
    <add key="dotNetRDFCatalog" value="sdk.facade"/>
    <add key="dotNetRDFUser" value="dotNetRDF"/>
    <add key="dotNetRDFPassword" value="dotNetRDF"/>
    <add key="TrimData" value="False"/>   
    <add key="DumpSettings" value="False"/>
    <add key="PrimaryClassificationStyle" value="Type"/>
    <add key="SecondaryClassificationStyle" value="Template"/>
    <add key="ClassificationTemplateFile" value=".\XML\ClassificationTemplate.xml"/>
    <add key="ExecutingAssemblyName" value="App_Code"/>-->

  <appSettings>
    <add key="dotNetRDFServer" value="localhost\SQLEXPRESS"/>
    <add key="dotNetRDFCatalog" value="sdk.facade"/>
    <add key="dotNetRDFUser" value="dotNetRDF"/>
    <add key="dotNetRDFPassword" value="dotNetRDF"/>
    <add key="dotNetRDFConfig" value="~/App_Data/config.ttl" />
    <add key="RegistryCredentialToken" value="AzyMEEZmXrMmRgSXkALcOW6Qw2V5KSVgYkyusJaspE2wurr7YlNBYWEFa58g4s2M" />
    <!-- private adapter settings -->
    <add key="PrimaryClassificationStyle" value="Type"/>
    <add key="SecondaryClassificationStyle" value="Template"/>
    <add key="ClassificationTemplateFile" value=".\XML\ClassificationTemplate.xml"/>
  </appSettings>

  <log4net>
    <appender name="AdapterServiceFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/AdapterService.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ExchangeServiceFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/ExchangeService.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ApplicationServiceFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/ApplicationService.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="RefDataServiceFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/RefDataService.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="org.iringtools.adapter">
      <level value="DEBUG" />
      <appender-ref ref="AdapterServiceFile" />
    </logger>

    <logger name="org.iringtools.exchange">
      <level value="DEBUG" />
      <appender-ref ref="ExchangeServiceFile" />
    </logger>

    <logger name="org.iringtools.application">
      <level value="DEBUG" />
      <appender-ref ref="ApplicationServiceFile" />
    </logger>

    <logger name="org.iringtools.referenceData">
      <level value="DEBUG" />
      <appender-ref ref="RefDataServiceFile" />
    </logger>

  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="InterfaceService/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add path="SandboxService/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </httpHandlers>
    <httpRuntime maxQueryStringLength="8192" requestValidationMode="2.0" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="/Services/InterfaceService/*" path="InterfaceService/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add name="/Services/SandboxService/*" path="SandboxService/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" maxReceivedMessageSize="1048576" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
