<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AdapterServiceUri" value="http://localhost:54321/AdapterService"/>
    <add key="ReferenceDataServiceUri" value="http://localhost:54321/RefDataService"/>
    <add key="ApplicationServiceURI" value="http://localhost:54321/NHibernateService"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
</configuration>
