<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\iring-tools\Adapter\AdapterService\"/>
    <add key="DataLayerConfigPath" value=".\App_Data\Model.csdl"/>
    <add key="IDataServicePath" value=".\App_Code\IDataService.cs"/>
    <add key="ModelDTOPath" value=".\App_Code\ModelDTO.cs"/>
    <add key="XmlPath" value=".\XML\"/>
    <add key="TransformPath" value=".\Transforms\"/>
    <add key="TemplatePath" value=".\Templates\"/>
    <add key="InterfaceService" value="http://localhost:2222/iring"/>
    <add key="TargetCredentialToken" value=""/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="TrimData" value="False"/>
    <add key="IgnoreSslErrors" value="True"/>
    <add key="UseSemweb" value="False"/>
    <add key="TripleStoreConnectionString" value="sqlserver:rdf:Database=rdf;data source=.\SQLEXPRESS; Initial Catalog=iring; User Id=iring; Password=iring;"/>
  </appSettings>
  <connectionStrings>   
    <add name="Entities" connectionString="metadata=|C:\iring-tools\Adapter\AdapterService\App_Data\Model.csdl| |C:\iring-tools\Adapter\AdapterService\App_Data\Model.ssdl| |C:\iring-tools\Adapter\AdapterService\App_Data\Model.msl; provider=System.Data.SqlClient; provider connection string=&quot;data source=.\SQLEXPRESS; Initial Catalog=Camelot_Test; User Id=camelot; Password=camelot;&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>