<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthToken" value= "Bearer tkRIB4wIVt3Dm6PSutcsNtApmS08ZV2F" ></add>
    <!--<add key="AppKey" value= "3627c519d78e24772ed8375d4e878e2d" ></add>-->
    <add key="DefaultKeyDelimiter" value="_" />
    <add key="BaseUrl" value= "https://api.box.com/2.0" ></add>
    <add key="SearchUrl" value= "/search?query={queryValue}&amp;type={objectType}&amp;limit={limitValue}&amp;offset={offsetValue}" ></add>
    <add key="UploadUrl" value= "https://upload.box.com/api/2.0/files/content" ></add>
    <add key="FolderItemsUrl" value= "/{FOLDER_ID}/items" ></add>

    <add key="contentType" value= "application/json" ></add>
    <add key="TotalRecords" value= "10" ></add>
        
  </appSettings>
</configuration>