<?xml version="1.0"?>
<configuration>
 
  <!--Service Setting Defaults
    <add key="BaseDirectoryPath" value="AppDomain.CurrentDomain.BaseDirectory"/> 
    <add key="XmlPath" value=".\XML\"/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="IgnoreSslErrors" value="True"/>-->

  <!--Reference Data Setting Defaults
    <add key="SparqlPath" value=".\SPARQL\"/>
    <add key="PageSize" value="100"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="ExampleRegistryBase" value="http://example.org/data#"/>
    <add key="UseExampleRegistryBase" value="False"/>
    <add key="RegistryCredentialToken" value=""/>-->

  <!--NHibernate Setting Defaults
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="BinaryPath" value=".\Bin\"/>
    <add key="CodePath" value=".\App_Code\"/>-->

  <!--Adapter Setting Defaults
    <add key="InterfaceService" value="http://localhost/Services/InterfaceService"/>
    <add key="ReferenceDataServiceUri value="http://localhost/Services/RefDataService"/>
    <add key="DefaultProjectionFormat" value="xml"/>
    <add key="EndpointTimeout value="30000"/>
    <add key="DBServer" value=".\SQLEXPRESS"/>
    <add key="DBName" value="InterfaceDb"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="TrimData" value="False"/>   
    <add key="ExecutingAssemblyName" value="App_Code"/>-->
  
  <appSettings>
    <add key="InterfaceService" value="http://localhost:54321/facade/query"/>
    <add key="ReferenceDataServiceUri" value="http://localhost:54321/refdata"/>
    
    <add key="ExecutingAssemblyName" value="AdapterService.Tests"/>
    <add key="BaseDirectoryPath" value="E:\iring-tools\UnitTests\AdapterService.Tests\"/>
    <add key="BinaryPath" value=".\Bin\Debug\" />

    <!--Test Only!-->
    <add key="AdapterServiceUri" value="http://localhost:54321/adapter"/>
    <!--Obselete?!-->
    <add key="GraphBaseUri" value="http://localhost:54321/adapter/"/>
  </appSettings>
</configuration>
