<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProxyCredentialToken" value="" />
    <add key="BaseDirectoryPath" value="C:\iring-tools\UnitTests\AdapterService.Tests\"/>
    <add key="ProxyHost" value="" />
    <add key="ProxyPort" value="" />
    <add key="InterfaceService" value="http://localhost:54321/InterfaceService/query"/>
    <add key="AdapterServiceUri" value="http://localhost:54321/AdapterService"/>
    <add key="TrimData" value="False"/>
    <add key="IgnoreSslErrors" value="True"/>
    <add key="BinaryPath" value=".\Bin\Debug\" />
    <add key="ExecutingAssemblyName" value="AdapterService.Tests"/>
  </appSettings>
</configuration>
