<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="sparqlSources" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <system.web>
    <identity impersonate="false" />
    <httpHandlers>
      <!-- This line associates the SPARQL Protocol implementation with a path on your
                    website. With this, you get a SPARQL server at http://yourdomain.com/sparql.  -->
      <add verb="*" path="InterfaceService/sparql" type="SemWeb.Query.SparqlProtocolServerHandler, SemWeb.Sparql" />
      <add verb="*" path="InterfaceService/12345_000/ABC/sparql" type="SemWeb.Query.SparqlProtocolServerHandler, SemWeb.Sparql" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- This line associates the SPARQL Protocol implementation with a path on your
                    website. With this, you get a SPARQL server at http://yourdomain.com/sparql.  -->
      <add name="sparql" verb="*" path="InterfaceService/sparql" type="SemWeb.Query.SparqlProtocolServerHandler, SemWeb.Sparql" />
      <add name="12345_000_ABC" verb="*" path="InterfaceService/12345_000/ABC/sparql" type="SemWeb.Query.SparqlProtocolServerHandler, SemWeb.Sparql" />
    </handlers>
  </system.webServer>

  <sparqlSources>
    <!-- This line configures the data source associated with each SPARQL server added above.
                  This sets the server to query the RDF/XML file at the given path.  You can use any
                  spec string described in SemWeb.Store.CreateForInput(). -->
    <!--<add key="/sparql" value="xml:/home/user/datafile.rdf"/>-->
    <add key="/InterfaceService/sparql" value="noreuse,rdfs+sqlserver:rdf:Database=rdf;data source=.\SQLEXPRESS; Initial Catalog=iring; User Id=iring; Password=iring;"/>
    <add key="/InterfaceService/12345_000/ABC/sparql" value="noreuse,rdfs+sqlserver:rdf:Database=rdf;data source=.\SQLEXPRESS; Initial Catalog=12345_000_ABC; User Id=12345_000_ABC; Password=12345_000_ABC;"/>
  </sparqlSources>
</configuration>





