<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultKeyDelimiter" value="_" />
    
    <add key="BaseUrl" value= "http://localhost:50637" ></add>
    <add key="AccessType" value="JSON"/>
    <add key="EndPointUrl" value= "/api/EndPoint" ></add>
    <!--
    <add key="AuthToken" value= "ZQfJeoKziP3xczI3IjyXxJMlmJ6u" ></add>
    <add key="AppKey" value= "3627c519d78e24772ed8375d4e878e2d" ></add>
    <add key="BaseUrl" value= "https://api-staging.mypsn.com/svc1/v2/businesshierarchy/" ></add>
    <add key="Object_Project" value= "Projects" ></add>
    <add key="Object_Function" value= "Functions" ></add>
    -->
    
  </appSettings>
</configuration>