<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ApplicationServiceURI" value="http://localhost/ApplicationService"/>
    <add key="AdapterServiceUri" value="http://localhost/AdapterService"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
