<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelFilePath" value="C:\iring-tools\Utilities\QMXFGenerator\QMXFGenerator\InformationModel.xls"/>
    <add key="QMXFFilePath" value="C:\iring-tools\Utilities\QMXFGenerator\QMXFGenerator\QMXF.xml"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="TestRegistryBase" value="http://example.com/data#"/>
    <add key="UseTestRegistry" value="False"/>
    <add key="ProxyHost" value="FRESPROXY"/>
    <add key="ProxyPort" value="8080"/>
    <add key="ProxyCredentialToken" value="yNXNdM32E+zvvP+nr5I8PjO+lKUKDKKoe31zc/vBOJIuJnMA8ub0CHWZltsFm8Hrn3lgal3Y7+H4dMuVD+nLDA=="/>
    <add key="IDSADICredentialToken" value="kI1z4/wHRw8iDyhLZIXDcAx2Yy4zT06E44f//ZkcyBSm5yV8aI/HO7t6u7O6oOaI7FiIanj4FJaQp4wCQn/azQ=="/>
  </appSettings>
</configuration>