<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <appSettings>
   <add key="MappingFolderPath" value="C:\iring-tools\branches\2.4.x\Utilities\MappingMigration\MappingMigration\Test"/>
   <add key="RefdataServiceUri" value="http://irtsvc-adapter-dev.becpsn.com/services/refdata"/>
   <add key="FixErrors" value="True"/>
      <add key="ProxyCredentialToken" value="g6Necz6zfhsB9VTj2IXftJQHomkYdEIZt4QQ2d2A0ZVoQO5OJVtXwz6v/hSb+vVdj+FCUYqE6sO97cHRYia5kg==" />
      <add key="ProxyHost" value="CHISPROXY.amers.ibechtel.com" />
      <add key="ProxyPort" value="8080" />
   <!--<add key="log4net.Internal.Debug" value="true"/>-->
  </appSettings>
    <log4net>
        <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
            <file value=".\MappingMigration.log" />
            <appendToFile value="true" />
            <maximumFileSize value="100KB" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <!--Log Levels include:
		0 FATAL
		1 ERROR
		2 WARN
		3 INFO
		4 DEBUG
		Messages from lower levels are included.  DEBUG will give you everything!
	-->
        <logger name="org.iringtools">
            <level value="INFO" />
            <appender-ref ref="LogFile" />
        </logger>
        <logger name="MappingMigration">
            <level value="INFO" />
            <appender-ref ref="LogFile" />
        </logger>
    </log4net>
</configuration>
