<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseAdapterServiceStub" value="true"/>

    <add key="AdapterProxy" value="Services/AdapterProxy.svc"/>
    <add key="AdapterServiceUri" value="http://localhost/AdapterService/Service.svc"/>
    <add key="AdapterCredentialToken" value=""/>
    <add key="AdapterProxyCredentialToken" value=""/>
    <add key="AdapterProxyHost" value=""/>
    <add key="AdapterProxyPort" value=""/>
    <add key="AdapterPageSize" value="20"/>

    <add key="ReferenceDataProxy" value="Services/ReferenceDataProxy.svc"/>
    <add key="ReferenceDataServiceUri" value="http://localhost/ReferenceDataService/Service.svc"/>
    <add key="ReferenceDataCredentialToken" value=""/>
    <add key="ReferenceDataProxyCredentialToken" value=""/>
    <add key="ReferenceDataProxyHost" value=""/>
    <add key="ReferenceDataProxyPort" value=""/>
    <add key="ReferenceDataPageSize" value="20"/>

  </appSettings>  
</configuration>