<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="MPower"/>
    <add key="ApplicationName" value="Pilot"/>
    
    <add key="DomainName" value="IAMERS"/>
    <add key="UserName" value="HDLE"/>
    <add key="ObjectType" value="STRC"/>
    <add key="ModifiedProperty" value="szBSAP"/>
    <add key="FilterPath" value=".\App_Data\Filter.xml"/>
    
    <add key="eb_server" value="chist95004.amers.ibechtel.com"/>
    <add key="eb_datasource" value="ebInsight"/>
    <add key="eb_username" value="admin"/>
    <add key="eb_password" value="wZf4K0P6bBju40XrrV66vg=="/>
    <add key="AppDataPath" value="\App_Data"/>
    

  </appSettings>
</configuration>
