<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="test"/>
    <add key="ApplicationName" value="mx"/>
    <add key="MaximoFolderPath" value=".\12345Maximo\Maximo"/>
    <add key="BaseURL" value="http://asbs50126.amers.ibechtel.com/maxrest/rest/os/mxasset?_lid=larvin"/>
    <add key="MaximoAccount" value="_lid=larvin"/>
    <add key="MaximoPassword" value="_lpwd=Ephesians01"/>
  </appSettings>
</configuration>