<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="SPPID"/>
    <add key="AppDataPath" value=".\App_Data\"/>
    <add key="ObjectType" value="Equipment"/>
   </appSettings>
</configuration>


