<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AdapterServiceUri" value="http://localhost/AdapterService"/>
    <add key="ReferenceDataServiceUri" value="http://localhost/RefDataService"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
