<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BaseDirectoryPath" value="C:\iring-tools\Adapter\AdapterService\"/>
    <add key="XmlPath" value=".\XML\"/>
    <add key="TransformPath" value=".\Transforms\"/>
    <add key="TemplatePath" value=".\Templates\"/>
    <add key="InterfaceService" value="http://localhost/InterfaceServiceSemWeb/sparql"/>
    <add key="TargetCredentialToken" value="iStDqsyeQ/6aV5WH9h8RWxLCXZRckLTgCxXSRQjV4rh4SLw5heADRzj5HFShzDQIlGyyj+rZB0s/0uHlFir9Fw=="/>
    <add key="ProxyCredentialToken" value="iStDqsyeQ/6aV5WH9h8RWxLCXZRckLTgCxXSRQjV4rh4SLw5heADRzj5HFShzDQIlGyyj+rZB0s/0uHlFir9Fw=="/>
    <add key="ProxyHost" value="FRESPROXY"/>
    <add key="ProxyPort" value="8080"/>
    <add key="TrimData" value="False"/>
    <add key="IgnoreSslErrors" value="True"/>
    <add key="UseSemweb" value="True"/>
    <add key="TripleStoreConnectionString" value="sqlserver:rdf:Database=rdf;data source=.\SQLEXPRESS; Initial Catalog=iring; User Id=iring; Password=iring;"/>
  </appSettings> 
</configuration>