<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProxyCredentialToken" value="" />
    <add key="BaseDirectoryPath" value="C:\iring-tools\Adapter\AdapterService.Tests\"/>
    <add key="ProxyHost" value="" />
    <add key="ProxyPort" value="" />
    <add key="DBName" value="dotNetRDF"/>
    <add key="DBserver" value=".\SQLEXPRESS"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="InterfaceService" value="http://localhost/InterfaceService/sparql/"/>
    <add key="AdapterServiceUri" value="http://localhost:54560"/>
    <add key="TrimData" value="False"/>
    <add key="IgnoreSslErrors" value="True"/>
    <add key="BinaryPath" value=".\Bin\Debug\" />
    <add key="ExecutingAssemblyName" value="AdapterService.Tests"/>
  </appSettings>
</configuration>
