<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="ProxyCredentialToken" value="please type in your specific value here" />
    <add key="ProxyHost" value="please type in your specific value here" />
    <add key="ProxyPort" value="please type in your specific value here" />
	-->
  </appSettings>
</configuration>

