<?xml version="1.0"?>
<configuration>
	<!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>-->
	<appSettings>
		<!-- production -->
		<add key="SupplierWebSiteAddress" value="http://supplier.cloudvibe.com"/>
		<add key="BUWebSiteAddress" value="http://bu.cloudvibe.com"/>
		<add key="EMailWebSiteAddress" value="http://cmail.cloudvibe.com"/>
		<add key="HomeWebSiteAddress" value="http://home.cloudvibe.com"/>
		<add key="FederationServerAddress" value="https://sso.becpsn.com"/>
		<add key="SPFederationEndPoint" value="/sp/startSSO.ping"/>
		<add key="IdPFederationEndPoint" value="/idp/startSSO.ping"/>
		<add key="PartnerIdpId" value="PSN2-SAML2-Entity"/>
		<add key="PartnerSpId" value="PSN2-SAML2-Entity"/>
		<add key="tokenServiceAddress" value="http://supplier.cloudvibe.com/TokenService/Service.svc"/>
		<add key="webServiceAddress" value="http://supplier.cloudvibe.com/WebService/Service.svc"/>
		<add key="tokenServiceAddressSS" value="http://ws-rest.cloudvibe.com/Service.svc"/>
		<add key="webServiceAddressSS" value="http://ws.cloudvibe.com/Service.svc"/>
		<!-- dev 
    <add key="SupplierWebSiteAddress" value="http://supplier.ping.bdw"/>
    <add key="BUWebSiteAddress" value="http://bu.ping.bdw"/>
    <add key="EMailWebSiteAddress" value="http://mail.ping.bdw"/>
    <add key="HomeWebSiteAddress" value="http://home.ping.bdw"/>

    <add key="FederationServerAddress" value="https://okrsvmoss01.amers.ibechtel.com:9031"/>
    <add key="SPFederationEndPoint" value="/sp/startSSO.ping"/>
    <add key="IdPFederationEndPoint" value="/idp/startSSO.ping"/>
    <add key="PartnerIdpId" value="BechtelPingFederate"/>
    <add key="PartnerSpId" value="BechtelPingFederate"/>

    <add key="tokenServiceAddress" value="http://supplier.cloudvibe.com/TokenService/Service.svc"/>
    <add key="webServiceAddress" value="http://supplier.cloudvibe.com/WebService/Service.svc"/>
    <add key="tokenServiceAddressSS" value="http://ws-rest.cloudvibe.com/Service.svc"/>
    <add key="webServiceAddressSS" value="http://ws.cloudvibe.com/Service.svc"/>
-->
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
