<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CSVFolderPath" value="C:\iRINGTools.SDK\CSVDataLayer\12345_000.CSV"/>
    <!--This should be a relative when deployed.  Unit tests require the above.
    <add key="CSVFolderPath" value=".\12345_000.CSV"/>-->
  </appSettings>
</configuration>
