@import "reset.css";

body {
  background: #79A734 url(../img/green-fade.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #30332D;
}

div.banner {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 662px;
}

table {
	width:662px;	
}
td {
	vertical-align:top;	
}

div.main {
  position: absolute;
  left: 14px;
  top: 120px;
  width: 662px;
}

li {
  list-style:disc;
  text-align:left;
  margin-left:2em;
}

a {
  color: #3E62A6;
}
