<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Provider" value="ORACLE10g" />
    <add key="SPPIDSiteConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0e25KGhjVMlnanN20jU4oYe+n8WoOOKaVQLQr+oJR89mNa5o1CRUaw0UIzsAXN/LYXmH4FoJTULLbNzqByjiekrY=" />
    <add key="SPPIDPlantConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0e25KGhjVMlnanN20jU4oYe+n8WoOOKaVQLQr+oJR89mNX/Ff05zvJe2tZAZGVdFFVWp5drViY8Qt0IqTjSFBnNiXq79pHuYe2QEmh1nZOI34" />
    <add key="PlantDataDicConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0e25KGhjVMlnanN20jU4oYe+n8WoOOKaVQLQr+oJR89mNX/Ff05zvJe2tZAZGVdFFVV+kqeiGv4ZK6GLPI+Dw9Eeutaao3cbFXWQRn6cD9JjW" />
    <add key="PIDConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0e25KGhjVMlnanN20jU4oYe+n8WoOOKaVQLQr+oJR89mNX/Ff05zvJe2tZAZGVdFFVUZBhRhcvPKlk/m8pkZk8DQl+htvTmjXqpxb9Bky0ayiO0Tmm2PMci7yZGh6TUhaYQ==" />
    <add key="PIDDataDicConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0e25KGhjVMlnanN20jU4oYe+n8WoOOKaVQLQr+oJR89mNX/Ff05zvJe2tZAZGVdFFVSQEAGzG1w3AiDR/fN1E56+IrAQuprR076tQQN9AwoEqM15HLVgh3hfMggr8TSP1eA==" />
    <add key="iRingStagingConnectionString" value="8OvijUTyF2UiMGIHzmtWzRH8GHTwc2Y1Yi847gnm08uqvjPFK1CFrMoP+zMxGPU5PrfJD3bnuZ+0RwhNDl0cCA66Q4OItvptsDD7UmmzIlD3+dbgTPE5FY2yk6axo1jC" />
  </appSettings>
</configuration>