<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">  
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%C] %m%n"/> 
    </layout> 
  </appender> 
  
  <appender name="fileout" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="${catalina.home}/logs/iring-apps.log"/>
    <param name="maxFileSize" value="500KB"/>
    <param name="maxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%C] %m%n"/> 
    </layout> 
  </appender>

  <!-- iringtools loggers -->
  <logger name="org.iringtools">
    <level value="DEBUG" />
    <appender-ref ref="fileout" /> 
  </logger>

  <!-- all other loggers -->
  <root>
    <level value="WARN" /> 
    <appender-ref ref="stdout" />
  </root>
</log4j:configuration> 