USE [Camelot_Test]
GO
/****** Object:  Table [dbo].[Circuit_25]    Script Date: 08/14/2009 15:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circuit_25](
	[Equip_From_ID] [nvarchar](255) NULL,
	[Equip_To_ID] [nvarchar](255) NULL,
	[Circ_Number] [nvarchar](255) NULL,
	[Circ_Rev] [nvarchar](255) NULL,
	[Circ_Drawing_Ref] [nvarchar](255) NULL,
	[Circ_Type] [nvarchar](255) NULL,
	[Circ_Status] [nvarchar](255) NULL,
	[Circ_From] [nvarchar](255) NULL,
	[Circ_To] [nvarchar](255) NULL,
	[Circ_Length_Estimated] [nvarchar](50) NULL,
	[Circ_Length_Adjusted] [nvarchar](255) NULL,
	[Circ_Primary_Cable_Qty] [nvarchar](50) NULL,
	[Circ_Primary_Cable_Size] [nvarchar](255) NULL,
	[Circ_Primary_Cable_Type] [nvarchar](255) NULL,
	[Circ_Primary_Cable_NCD] [nvarchar](50) NULL,
	[Circ_Primary_Cable_Configuration] [nvarchar](255) NULL,
	[Circ_Secondary_Cable_Qty] [nvarchar](50) NULL,
	[Circ_Secondary_Cable_Size] [nvarchar](255) NULL,
	[Circ_Secondary_Cable_Type] [nvarchar](255) NULL,
	[Circ_Secondary_Cable_NCD] [nvarchar](50) NULL,
	[Circ_Secondary_Cable_Configuration] [nvarchar](255) NULL,
	[Circ_Notes] [nvarchar](255) NULL,
	[Circ_Race] [nvarchar](255) NULL,
	[ProjectID] [nvarchar](255) NULL,
	[ProjectCircuit] [nvarchar](255) NULL
) ON [PRIMARY]
GO
