<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="1234" />
    <add key="ApplicationName" value="BoxDotNet" />
    <add key="xmlPath" value="\App_Data\" />
    <add key="ObjectType" value="folders" />
    <add key="fileName_Upload" value="doc20130220090340.pdf" />
    <!--File name to upload - changes.txt, doc20130220090340.pdf -->
    <add key="parentId_Upload" value="778939632" />
    <!--destination folder id where the file has to be uploaded -->
    <add key="filePath_upload" value="C:\Users\npandey1\Documents\" />
    <!--full path of file o upload at users machine - C:\Users\npandey1\Desktop\ -->
    <!--<add key="FilterPath" value=".\App_Data\Filter.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>