<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelFilePath" value="E:\svncorp-dmz\iringtools_deployment\_Support\ReferenceDataSandbox\InformationModel.xlsx"/>
    <add key="TargetRepositoryNameForClass" value="iRING Sandbox"/>
    <add key="TargetRepositoryNameForTemplate" value="iRING Sandbox"/>
    <add key="RefdataServiceUri" value="http://localhost:54321/refdata"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="TestRegistryBase" value="http://example.org/data#"/>
    <add key="UseTestRegistry" value="False"/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="IDSADICredentialToken" value=""/>
    <add key="UpdateRun" value="x"/>
    <!-- any value will set to true-->
    <add key="ClearAllBeforeUpdate" value="x"/>
    <!-- any value will set to true-->
    <add key="IgnoreSslErrors" value="True"/>
    <add key="AutoCloseOnComplete" value=""/>
    <!-- any value will set to true-->
  </appSettings>
</configuration>