<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelFilePath" value="C:\InformationModel.xls"/>
    <add key="QMXFFilePath" value="C:\QMXF.xml"/>
    <add key="TargetRepositoryName" value="My Sandbox"/>
    <add key="RefdataServiceUri" value="http://localhost:54321/refdata"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="TestRegistryBase" value="http://example.com/data#"/>
    <add key="UseTestRegistry" value="True"/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="IDSADICredentialToken" value=""/>
  </appSettings>
</configuration>