@import "reset.css";

body {
  margin-left: 10px;
  background: #3C78AC url(../img/fade.png) repeat-x;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12;
  color: #30332D;
}

h1 {
  font-size: 190%;
    height: 78px;
    width: 722px;
}

div.banner {
  margin-top: 10px;
  width: 722px;
}

div.banner h1 img {
  vertical-align: -55%;
    height: 57px;
    width: 193px;
}

div.main {
  margin-top: 18px;
  width: 662px;
}

form {
  margin-top: 10px;
  width: 720px;
  text-align: left;
    height: 407px;
}

textbox {
  padding: 8px;
}

input.button {
  margin: 8px 0px 0px auto;
}

a {
  color: #3E62A6;
}
