 html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
      }
      p {
        margin:5px;
      }
      .settings {
        background-image:url(../lib/ext-3.2.1/resources/images/folder_wrench.png);
      }
      .nav {
        background-image:url(../lib/ext-3.2.1/resources/images/folder_go.png);
      }
      .profile{
        background:transparent url(../lib/ext-3.2.1/resources/images/folder_go.png) no-repeat;
      }

      .headerLnk{
        font-family:Calibri, Arial;
        font-size:18;
        text-decoration:none;
        color:#4784B6;
      }

      /*.x-tree-node .x-tree-node-over {
			//background-color: #fff;
      }*/