html,body {
	font: normal 12px verdana;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

p {
	margin: 5px;
}

.x-tree-node .scope {
	background-image: url(../images/16x16/system-file-manager.png);
}

.x-tree-node-collapsed .folder {
	background-image: url(../images/16x16/folder.png);
}

.x-tree-node-leaf .x-tree-node-icon{
	background-image:url(../images/16x16/folder.png);
}


.x-tree-node-expanded .folder {
	background-image: url(../images/16x16/folder-open.png);
}

.x-tree-node .exchange {
	background-image: url(../images/16x16/file-table-diff.png);
}

.x-tree-node .application {
	background-image: url(../images/16x16/applications-internet.png);
}

.x-tree-node .graph {
	background-image: url(../images/16x16/file-table.png);
}

.x-tree-node .commodity {
	background-image: url(../images/16x16/class-badge.png);
}

.x-tree-node .role {
	background-image: url(../images/16x16/role-badge.png);
}

.x-tree-node .template {
	background-image: url(../images/16x16/template-badge.png);
}

.x-tree-node .deletedTemplate {
	background-image: url(../images/16x16/delete-icon.png);
}
.x-tree-node .class {
	background-image: url(../images/16x16/class-badge.png);
}


.settings {
	background-image:
		url(../lib/ext-3.2.1/resources/images/folder_wrench.png);
}

.nav {
	background-image: url(../lib/ext-3.2.1/resources/images/folder_go.png);
}

.profile {
	background: transparent
		url(../lib/ext-3.2.1/resources/images/folder_go.png) no-repeat;
}

.x-tree-node .generator {
	background-image: url(../images/16x16/application-x-executable.png);
}

.x-tree-node .namespace {
	background-image: url(../images/16x16/namespace.png);
}

.x-tree-node .repository {
	background-image: url(../images/16x16/applications-database.png);
}

.highLightChange {
	color: blue
}

.underLineLink {
	text-decoration: underline;
}

.headerLnk {
	font-family: Calibri, Arial;
	font-size: 18;
	text-decoration: underline;
	color: #4784B6;
}

.headerLnkBlack {
	font-family: Calibri, Arial;
	font-size: 18;
	text-decoration: none;
	color: #000000;
}

.x-tree .x-panel-body {
	background-color: #FFFFFF;
}

//
.x-tree-node .x-tree-node-over { //
	background-color: #fff;
	//
}

.dialog-textbox {
  width: 450px;
  height: 250px;
  border: 0 none;
  overflow: auto
}
.x-tree-node .class{
	background-image: url(../images/16x16/class-badge.png);
}
.x-tree-node .template{
	background-image: url(../images/16x16/template-badge.png);
}
.x-tree-node .role{
	background-image: url(../images/16x16/role-badge.png);
}
/*.x-grid3-cell-inner, .x-grid3-hd-inner {
	white-space:normal !important;
}

*/