<?xml version="1.0"?>
<configuration>
  <appSettings>    
    
    <add key="BechtelUserName" value="dkumar3"/>
    <add key="dbServer" value="LABS98674"/>
    <add key="dbInstance" value="P6_TEST"/>
    <add key="Database" value="PMDB_TEST"/>
    <add key="UserId" value="privuser_test"/>
    <add key="Password" value="privuser"/>
    

  </appSettings>
</configuration>