@import "reset.css";

body {
  margin-left: 10px;
  background: #3C78AC url(../img/fade.png) repeat-x;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12;
  color: #30332D;
}

h1 {
  font-size: 200%;
}

li {
	text-align:left;
}

div.banner {
  /*margin-top: 10px;*/
  width: 662px;
}

div.banner h1 img {
  vertical-align: -25%;
}

div.main {
  margin-top: 18px;
  width: 662px;
}

form {
  margin-top: 10px;
  width: 662px;
  text-align: right;
}

textarea {
  padding: 8px;
}

input.button {
  margin: 8px 0px 0px auto;
}

a {
  color: #3E62A6;
}

#action-panel .x-panel {
	margin-bottom:3px;
	margin-right:0;
}
#action-panel .x-panel-body {
	border:0 none;
}
#action-panel .x-panel-body li {
	margin:3px;
}
#action-panel .x-panel-body li img {
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-right:2px;
	margin-bottom:2px;
}
#action-panel .x-panel-body li a {
	text-decoration:none;
	color:#3764A0;
}
#action-panel .x-plain-body {
	background-color:#cad9ec;
    padding:0 0 0 5px;
}
.x-air #action-panel .x-plain-body {
	padding-left:3px;
}
#action-panel .x-panel-body li a:hover {
	text-decoration:underline;
	color:#15428b;
}