<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="FilePath" value="C:\iringtools_datalayers\im_datalayer\trunk\iModelDatalayer\iModelDatalayer.Test\App_Data\rac_basic_sample_project_rvt_ThreeD_Aerial.i.dgn"/>-->
    <!--<add key="FilePath" value="\\NDHD201325\Depot _RVT\rac_basic_sample_project_rvt_ThreeD_Aerial.i.dgn"/>-->
    <add key="FilePath" value="..\App_Data\rac_basic_sample_project_rvt_ThreeD_Aerial.i.dgn"/>
    <add key="BechtelUserName" value="dkumar3"/>
  </appSettings>
  
</configuration>