<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="1234" />
    <add key="ApplicationName" value="Restful" />
    <add key="xmlPath" value="\App_Data\" />
    <add key="ObjectType" value="contacts" />
    <add key="RelatedObjectType" value="directReports" />
    
    <!--<add key="ObjectType" value="logs" />
    <add key="RelatedObjectType" value="directReports" />-->
    <!--<add key="ObjectType" value="Countries" />-->
    <!--<add key="RelatedObjectType" value="States" />-->
    <add key="ModifiedProperty" value="Description" />
    <add key="ModifiedValue" value="NewValue" />
    <add key="FilterPath" value=".\App_Data\Filter.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
