<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ebServer" value="chist95004.amers.ibechtel.com"/>
    <add key="ebDataSource" value="ebInsight" />
    <add key="ebUserName" value="admin" />
    <add key="ebPassword" value="wZf4K0P6bBju40XrrV66vg==" />
    <add key="ebCommunityName" value="BechtelPreProd" />
    <!--<add key="ebClassObjects" value="Tag.Mechanical, Document.Drawing" />-->
  </appSettings>
</configuration>