<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="MPower"/>
    <add key="ApplicationName" value="Pilot"/>
    <add key="DataLayerPath" value="C:\ebDataLayer\ebDataLayer\"/>
    <add key="ebServer" value="chist95004.amers.ibechtel.com"/>
    <add key="ebDataSource" value="ebInsight" />
    <add key="ebUserName" value="admin" />
    <add key="ebPassword" value="wZf4K0P6bBju40XrrV66vg==" />
    <add key="ebClassCodes" value="Tag.ELECT, Tag.AE, Tag.MECH, Document.LINE, Document.VLVS, Document.MECH" />
    <add key="ebMetadataQuery.Tag" value="select d.char_name, d.char_data_type, d.char_length, 0 as readonly from class_objects a inner join class_attributes c on c.class_id = a.class_id inner join characteristics d on c.char_id = d.char_id where a.code = '{0}'  and d.object_type not in(3) union select 'Class.Code', 'String', 255, 1 union select 'Id', 'Int32', 4, 1 union select 'Code', 'String', 100, 1 union select 'Revision', 'String', 100, 1 union select 'DateEffective', 'DateTime', 0, 1 union select 'Name', 'String', 255, 1 union select 'ChangeControlled', 'String', 1, 1 union select 'ApprovalStatus', 'String', 1, 1 union select 'DateObsolete', 'DateTime', 0, 1 union select 'Class.Id', 'Int32', 8, 1" />
    <add key="ebMetadataQuery.Document" value="select d.char_name, d.char_data_type, d.char_length, 0 as readonly from class_objects a inner join class_attributes c on c.class_id = a.class_id inner join characteristics d on c.char_id = d.char_id where a.code = '{0}'  union select 'Class.Code', 'String', 255, 1 union select 'Id', 'Int32', 4, 1 union select 'Class.Id', 'Int32', 4, 1 union select 'PrimaryPhysicalItem.Id', 'Int32', 4, 1 union select 'Code', 'String', 100, 1 union select 'Revision', 'String', 100, 1 union select 'Name', 'String', 255, 1 union select 'Description', 'String', 4000, 1 union select 'ApprovalStatus', 'String', 1, 1 union select 'ChangeControlled', 'String', 1, 1 union select 'OperationalStatus', 'String', 1, 1 union select 'Quantity', 'Int32', 8, 1" />
    <add key="ebDocId" value="762" />
    <add key="ebCommunityName" value="BechtelPreProd" />
    <add key="objectType" value="Mechanical" />
    <add key="ebUserAttributesQuery.Tag" value="select distinct d.char_name,d.object_type,a.group_id from class_objects a inner join class_attributes c on c.class_id = a.class_id inner join characteristics d on c.char_id = d.char_id  where d.object_type={0}  order by d.char_name" />
    <add key="ebUserAttributesQuery.Document" value="select distinct d.char_name,d.object_type,a.group_id from class_objects a inner join class_attributes c on c.class_id = a.class_id inner join characteristics d on c.char_id = d.char_id  where d.object_type={0}  order by d.char_name" />

  </appSettings>
</configuration>