<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
	<appSettings>
		<add key="DefaultGraph" value="" />
		<add key="DefaultTimeout" value="30000" />
		<add key="DefaultPartialResults" value="true" />
		<add key="ShowErrors" value="true" />
		<add key="DBServer" value=".\SQLEXPRESS" />
		<add key="DBName" value="dotNetRDF" />
		<add key="DBUser" value="dotNetRDF" />
		<add key="DBPassword" value="dotNetRDF" />
		<add key="ShowQueryForm" value="true" />
		<add key="LoadMode" value="PreloadAll" />
	</appSettings>
  
	<system.web>
    <compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="sparql/" validate="false" type="VDS.RDF.Web.SparqlHandler"/>
		</httpHandlers>
		<httpRuntime requestValidationMode="2.0"/>
  </system.web>
  
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="SPARQLHandler"/>
			<add name="SPARQLHandler" verb="*" path="sparql/" type="VDS.RDF.Web.SparqlHandler"/>
		</handlers>
		<directoryBrowse enabled="true"/>
	</system.webServer>
  
</configuration>