<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SPPIDSiteConnectionString" value="aS5XtL3gJ+NGGGBFJgQpAxQjFy3mQXAgemDrz7QWTnEmfLHyy+BE7o7IGq4ZwvVui/bV3FJD+iMSJrLMf8alkmSiCnhAkbmvLNYkcNkYw9yYcbMJABVS90uuZHi8Zwdt" />
    <add key="SPPIDPlantConnectionString" value="aS5XtL3gJ+NGGGBFJgQpAxQjFy3mQXAgemDrz7QWTnEmfLHyy+BE7o7IGq4ZwvVui/bV3FJD+iMSJrLMf8alkmSiCnhAkbmvLNYkcNkYw9x5EUAN3Z53oVeP/LeESgx3afI2PJ8prAvKI1FdH4LsaA==" />
    <add key="iRingStagingConnectionString" value="aS5XtL3gJ+NGGGBFJgQpAxQjFy3mQXAgemDrz7QWTnEmfLHyy+BE7o7IGq4ZwvVui/bV3FJD+iMSJrLMf8alkoBazkf2yignOTBY0H+bvt4R6UxH3ZDPpN6M8jx3ZBSa" />
  </appSettings>
</configuration>