@import "reset.css";

body {
  background: #79A734 url(fade.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #30332D;
}

div.banner {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 662px;
}

div.main {
  position: absolute;
  left: 14px;
  top: 124px;
  width: 662px;
}

form {
  position: absolute;
  left: 10px;
  top: 276px;
  width: 662px;
  text-align: right;
}

div.queryTypeSwitcher
{
  text-align: bottom;
  position: absolute;
  left: 570px;
  top: 250px;
}

textarea {
  padding: 8px;
}

input.button {
  margin: 8px 0px 0px auto;
}

a {
  color: #3E62A6;
}
