<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XmlPath" value=".\12345_000\"/>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="SPPID"/>
    <add key="XmlPath" value=".\12345_000\"/>
    <add key="ObjectType" value="Equipment"/>
    <add key="ProjectDirName" value="12345_000"/>
  </appSettings>
</configuration>


