<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Export"/> <!--Import or Export-->
    <add key="DBServer" value="localhost"/>
    <add key="DBName" value="InterfaceDb"/>
    <add key="DBUser" value="rdladmin"/>
    <add key="DBPassword" value="Lm!1N2w"/>
    <add key="RdfImportFullFilename" value="f:\pathToFile\rdfToImport.rdf"/>
    <add key="RdfExportFullFilename" value="F:\Projects\RdfConverter\ConsoleApplication1\exported.rdf"/>
    <add key="GraphUri" value="http://iring.hatch.com.au/12345_000/PSPID/Lines"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
