<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="" value="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary"/><add key="" value="12345_000"/><add key="12345_000" value="ABC"/><add key="ABC" value=""/><add key="org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary" value="http://localhost:65432/Cache"/><add key="iRINGCacheConnStr" value="Data Source={.\SQLExpress};Initial Catalog={iRINGCache};User ID={iRINGCache};Password={iRINGCache}"/></appSettings></configuration>