<?xml version="1.0" encoding="utf-8"?><configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><appSettings><add key="iRINGCacheConnStr" value="Bv75Jl/4OasVaoqguHPRNEnGSmiGcL8FEBYDDl4HLky+33yNHuCeeHObjuEuolEXfJHRAuY0FiN127mCg7NC7ntvsgBsDwOLlgRsL1yoiEvUvQApLglD5Uh6mfqQIpG/LshlweBnUx8ZADT2SSxmDQ=="/></appSettings></configuration>