<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PrimaryClassificationStyle" value="Both"/>   <!-- valid values: Type/Both -->
    <add key="SecondaryClassificationStyle" value="Both"/>  <!-- valid values: Type/Template/Both -->
    <add key="ClassificationTemplateFile" value=".\\XML\\ClassificationTemplate.xml"/>
  </appSettings>
</configuration>