        
  
  html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
      }
      p {
        margin:5px;
      }
      
    
     
      
     
      
     
	  .x-tree-node .scope {      	
      	background-image:url(../images/16x16/system-file-manager.png);
      }
      .x-tree-node-collapsed .folder {
      	background-image:url(../images/16x16/folder.png);
      }
      .x-tree-node-expanded .folder {
	    background-image:url(../images/16x16/folder-open.png);
      }
      .x-tree-node .exchange {
      	background-image:url(../images/16x16/file-table-diff.png);
      }
      .x-tree-node .application {
      	background-image:url(../images/16x16/applications-internet.png);
      }
      
      .x-tree-node .graph {
      	background-image:url(../images/16x16/file-table.png);
      }
      
      .x-tree-node .commodity {
      	background-image:url(../images/16x16/class-badge.png);
      }
      .settings {
        background-image:url(../lib/ext-3.2.1/resources/images/folder_wrench.png);
      }
      .nav {
        background-image:url(../lib/ext-3.2.1/resources/images/folder_go.png);
      }
      .profile{
        background:transparent url(../lib/ext-3.2.1/resources/images/folder_go.png) no-repeat;
      }

      .headerLnk{
        font-family:Calibri, Arial;
        font-size:18;
        text-decoration:none;
        color:#4784B6;
      }

      .x-tree .x-panel-body {
        background-color: #FFFFFF;
      }
      
      //.x-tree-node .x-tree-node-over {
		//	background-color: #fff;
      //}