<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="Pilot"/>
    <add key="ApplicationName" value="SPPID"/>
    
    <add key="SPPID.Staging" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=SPPIDStaging;User ID=SPPIDStaging;Password=SPPIDStaging"/>
    
    <!-- for SQL Server, only SPPID.SiteSchema and SPPID.PlantSchema connection string are required -->
    <add key="SPPID.SiteSchema" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPlantSite;Password=houpilot"/>
    <!--<add key="SPPID.SiteDictionary" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPlantSiteD;Password=houpilot"/>-->
    <add key="SPPID.PlantSchema" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPLANT;Password=houpilot"/>
    <add key="SPPID.PlantDictionary" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPLANTD;Password=houpilot"/>
    <add key="SPPID.PIDSchema" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPLANTPID;Password=houpilot"/>
    <add key="SPPID.PIDDictionary" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=CHIST95024.amers.ibechtel.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CHISPFX1)));User ID=HOUPLANTPIDD;Password=houpilot" />  
  </appSettings>
</configuration>