<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value=""/>
    <add key="ApplicationName" value=""/>
    
    <add key="SPPID.Staging" value=""/>
    
    <!-- for SQL Server, only SPPID.SiteSchema and SPPID.PlantSchema connection string are required -->
    <add key="SPPID.SiteSchema" value=""/>
    <add key="SPPID.SiteDictionary" value=""/>
    <add key="SPPID.PlantSchema" value=""/>
    <add key="SPPID.PlantDictionary" value=""/>
    <add key="SPPID.PIDSchema" value=""/>
    <add key="SPPID.PIDDictionary" value="" />  
  </appSettings>
</configuration>