<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AdapterServiceUri" value="http://localhost/AdapterService"/>
    <add key="ReferenceDataServiceUri" value="http://localhost/RefDataService"/>
    <add key="ApplicationServiceURI" value="http://localhost/AppService"/>
    <add key="dotNetRDFConfig" value="~/App_Data/config.ttl" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
    <httpRuntime requestValidationMode="2.0"/>
    <httpHandlers>
      <add path="/InterfaceService/server/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add path="/SandboxService/server/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </httpHandlers>
  </system.web>
<!-- Following config section only for IIS6 IIS7-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="/InterfaceService/server/*" path="/Interface/server/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add name="/SandboxService/server/*" path="/Sandbox/server/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </handlers>
  </system.webServer>
</configuration>
