<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--Service Setting Defaults
      Use the iRingTools Utilities ConfigurationTool.exe to create an encrypted "ProxyCredentialToken"
      Note that the proxy bypass list is a list of regular expressions and "." must be escaped. To bypass the proxy all addresses at .company.com would add "\.company\.com"
      Separate expressions in the bypass list with semi-colons, for example: "\.company\.com;10\.*;196\.168\.*"
      
    <add key="BaseDirectoryPath" value="AppDomain.CurrentDomain.BaseDirectory"/> 
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyBypassList" value="\.company\.com;10\.*;192\.168\.*" />
    <add key="IgnoreSslErrors" value="False"/>
  -->

  <!--Reference Data Setting Defaults
    <add key="SparqlPath" value=".\SPARQL\"/>
    <add key="PageSize" value="100"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="ExampleRegistryBase" value="http://example.org/data#"/>
    <add key="UseExampleRegistryBase" value="False"/>
    <add key="RegistryCredentialToken" value=""/>-->

  <!--NHibernate Setting Defaults
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="BinaryPath" value=".\Bin\"/>
    <add key="CodePath" value=".\App_Code\"/>
    <add key="InternalPageSize" value="1000"/>-->

  <!--Adapter Setting Defaults
    <add key="InterfaceService" value="http://localhost/services/facade/query"/>
    <add key="ReferenceDataServiceUri value="http://localhost/services/refdata"/>
    <add key="DefaultProjectionFormat" value="xml"/>
    <add key="EndpointTimeout value="30000"/>
    <add key="dotNetRDFServer" value=".\SQLEXPRESS"/>
    <add key="dotNetRDFCatalog" value="InterfaceDb"/>
    <add key="dotNetRDFUser" value="dotNetRDF"/>
    <add key="dotNetRDFPassword" value="dotNetRDF"/>
    <add key="TrimData" value="False"/>   
    <add key="DumpSettings" value="False"/>   
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="DefaultContentFormat" value="pdf"/>
    <add key="DefaultPageSize" value="25"/>-->

  <appSettings>
    <add key="dotNetRDFConfig" value="~/App_Data/config.ttl" />
   

    <add key="ProxyCredentialToken" value="8j/Xj9aLBKEfyfKJcltiXsr5mCAUKSrFCUxcouDTpoeQBhB/xgBJ9oOzHx3oIDuF" />
    <add key="ProxyHost" value="sinsproxy.apac.ibechtel.com" />
    <add key="ProxyPort" value="8080" />
    <add key="Async" value="false"/>
    <add key="AppDataPath" value=".\App_Data\"/>
	<add key="SpCharList" value="#,/,\,%"/>
    <add key="SpCharValue" value="{Hash},{Back Slash},{Forward Slash},{Percentage}"/>
    <add key="LdapConfiguration" value="false"/>
    <!---LdaP Configuration Settings 
    <add key="LdapConfiguration" value="true"/>
    <add key="ldapserver" value="ServerName"/>
    <add key="ldapportnumber" value="PortNumber"/>
    <add key="ldapusername" value="UserName"/>
    <add key="ldappassword" value="Password"/> -->
  </appSettings>
  
  <log4net>
    <appender name="ServicesFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/Services.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="UtilitiesFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/Utilities.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
	<!--Log Levels include:
		0 FATAL
		1 ERROR
		2 WARN
		3 INFO
		4 DEBUG
		Messages from lower levels are included.  DEBUG will give you everything!
	-->
    <logger name="org.iringtools.utility">
      <level value="DEBUG" />
      <appender-ref ref="UtilitiesFile" />
    </logger>
    <logger name="org.iringtools">
      <level value="DEBUG" />
      <appender-ref ref="ServicesFile" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
      <appender-ref ref="ServicesFile"/>
    </logger>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="facade/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add path="sandbox/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </httpHandlers>
    <!-- maxRequestLength in KB -->
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
    <pages validateRequest="false"/>
  
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="16384" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="/facade/*" path="facade/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add name="/sandbox/*" path="sandbox/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
    <!-- comment / remove following line if not running in a .NET 4.5 environment -->
      <add name="WcfReadEntityBodyModule" type="org.iringtools.services.modules.WcfReadEntityBodyModule, iRINGTools.Services" />  
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <!-- maxReceivedMessageSize in bytes -->
        <binding maxReceivedMessageSize="1073741824"/>
      </webHttpBinding>
    </bindings>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
