<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\iring-tools\ReferenceData\ReferenceDataService\"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="ExampleRegistryBase" value="http://example.org/data#"/>
    <add key="SPARQLPath" value=".\SPARQL\"/>
    <add key="XMLPath" value=".\XML\"/>
    <add key="RegistryCredentialToken" value="kI1z4/wHRw8iDyhLZIXDcAx2Yy4zT06E44f//ZkcyBSm5yV8aI/HO7t6u7O6oOaI7FiIanj4FJaQp4wCQn/azQ=="/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="PageSize" value="100"/>
    <add key="IgnoreSslErrors" value="True"/>
  </appSettings>
</configuration>