<?xml version="1.0"?>
<configuration>
  <appSettings>
   <add key="MappingFolderPath" value="C:\iring-tools\svn\branches\2.4.x\Utilities\MappingMigration\MappingMigration\MappingFiles\"/>
    <!--<add key="MappingFilePath" value="C:\iring-tools\svn\branches\2.4.x\Utilities\MappingMigration\MappingMigration\MappingFiles\books.xml"/>-->
    <add key="RefdataServiceUri" value="http://localhost:56789/refdata"/>
  </appSettings>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
</configuration>
