<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Export"/> <!--Import or Export-->
    <add key="ClearBeforeImport" value="True"/> <!-- Import only -->
    <add key="DBServer" value="localhost"/>
    <add key="DBName" value="SandboxDb"/>
    <add key="DBUser" value="dotNetRDF"/>
    <add key="DBPassword" value="dotNetRDF"/>
    <add key="RdfImportFullFilename" value="E:\ISO15926-8-OWL\p7tm.owl"/>
    <add key="RdfExportFullFilename" value="export.rdf"/>
    <add key="GraphUri" value=""/><!--blank if default graph to be used-->
	<add key="ClearBeforeImport" value="true"/>
  </appSettings>
</configuration>
