<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthToken" value= "swwHghw1j1xFVrUDXChYcvoKhTEL" ></add>  <!-- AccessToken got using Identity API's Identity Get method -->
    <add key="AppKey" value= "3627c519d78e24772ed8375d4e878e2d" ></add> <!-- Appkey got using Identity API's Identity Get method -->
    <add key="DefaultKeyDelimiter" value="_" />
    <add key="BaseUrl" value= "https://api-staging.mypsn.com/svc1/v2" ></add>
    <!--<add key="BaseUrl" value= "https://api-staging.mypsn.com/svc1/v2/businesshierarchy" ></add>-->
    <!--<add key="BaseUrl" value= "http://localhost:50637" ></add>-->    
    <add key="contentType" value= "application/json" ></add>    
    <add key="TotalRecords" value= "10" ></add>
        
  </appSettings>
</configuration>