<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="AdapterServiceUri" value="http://localhost/AdapterService/Service.svc"/>
    <add key="ProjectName" value="99999"/>
    <add key="ApplicationName" value="ABC"/>
    <add key="DBDictionaryFilePath" value="C:\DatabaseDictionary.99999.ABC.xml"/>
  </appSettings>
</configuration>