<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="AdapterServiceUri" value="http://localhost/AdapterService/Service.svc"/>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="ABC"/>
    <add key="DBDictionaryFilePath" value="C:\iRINGWeb\AdapterService\XML\ABC.DatabaseDictionary.xml"/>
  </appSettings>
</configuration>