<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="AdapterServiceUri" value="http://localhost/AdapterService/Service.svc"/>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="DEF"/>
    <add key="DBDictionaryFilePath" value="C:\iRINGWeb\AdapterService\XML\Seed.DatabaseDictionary.xml"/>
  </appSettings>
</configuration>