<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdapterServiceUri" value="http://localhost:52786/Service.svc"/>
    <add key="ProjectName" value="99999"/>
    <add key="ApplicationName" value="ABC"/>
    <add key="DBDictionaryFilePath" value="C:\iring-tools\Utilities\DBDictionaryUtil\DBDictionaryUtil\DatabaseDictionary.99999.ABC.xml"/>
  </appSettings>
</configuration>